.main{
    border: 1px solid black;
    
}

body {
    background: linear-gradient(to bottom right, #f00, #0f0, #00f);
    background-size: 400% 400%;
    animation: gradient 0.10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

header{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: dashed;
    width: 400px;
    color: yellow;
    background-color: green;
    margin: 50px auto;

}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1px;
    
    
    
}
.card{
    border: 1px solid black;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    margin: 12px;


    
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

